/*--primary-color:
--primary-dark: 
--primary-light: 
--text-on-primary: */

.couleur{
    color:  #2ecc71; // Vert principal
    color: #27ae60;
    color: #a2f0c1;
    color: #ffffff;
}

.couleur{
    color:  #14532d; // Vert principal
    color: #0f3b20;
    color: #2e7d4f;
    color: #ffffff;
}

.couleur{
    color: #25D366; // principal
    color: #075E54; // header / background foncé
    color: #128C7E; // boutons ou hover
    color: #DCF8C6; // bulles messages
    color: #ffffff;
}

.couleur{
    color: #25D366; // header
    color: #075E54; // principal / background foncé
    color: #128C7E; // boutons ou hover
    color: #DCF8C6; // bulles messages
    color:#FF6F61
}