<app-default-layout>

    <div class="auth-logo mx-auto">
        <a [routerLink]="['']" class="logo logo-dark text-center">
            <span class="logo-lg">
                <img src="assets/images/logo-sm.png" alt="" height="24">
            </span>
        </a>

        <a [routerLink]="['']" class="logo logo-light text-center">
            <span class="logo-lg">
                <img src="assets/images/logo-light.png" alt="" height="24">
            </span>
        </a>
    </div>

    <h6 class="h5 mb-0 mt-3">Réinitialiser votre mot de passe</h6>
    <p class="text-muted mt-1 mb-4">Entrez votre numéro et nous vous enverrons un lien de réinitialisation.</p>


    <form class="authentication-form" name="reset-password-form" [formGroup]="resetPasswordForm"
        (ngSubmit)="sendLink()" *ngIf="successMessage===''">
        <div class="mb-3">
            <label class="form-label">Numéro WhatsApp</label>
            <div class="input-group">
                <span class="input-group-text">
                    <i class="icon-dual" data-feather="phone" appFeatherIcon></i>
                </span>
                <input class="form-control" type="text" id="telephone" placeholder="+22670xxxxxx"
                    formControlName="telephone" [ngClass]="{'is-invalid': formSubmitted && formValues.telephone.invalid}"
                    required>

                <div *ngIf="formSubmitted && formValues.telephone.invalid" class="invalid-feedback">

                    <div *ngIf="formValues.telephone.errors?.required">
                        Téléphone obligatoire.
                    </div>

                </div>
            </div>
        </div>

        <div class="mb-0 text-center">
            <button class="btn btn-primary w-100" type="submit"> Réinitialiser via WhatsApp</button>
        </div>
    </form>

    <p class="text-muted" footerLink>Retour au <a [routerLink]="['../login']" class="text-primary fw-bold ms-1">Login</a>
    </p>
</app-default-layout>