<app-page-title [breadcrumbItems]="pageTitle" title="Comptes Comptables"></app-page-title>


@if (!result) {
<div class="loader-container">
  <div class="lds-dual-ring"></div>
</div>
}

@if (result){
<div class="card">
  <div class="card-body">

    <!-- Boutons et filtres -->
    <div class="mb-3 d-flex flex-wrap align-items-center justify-content-between">
      <div class="d-flex">
        <div>
          <button class="btn btn-success" (click)="openModal()" >Nouveau
            Compte</button>
        </div>

        <div>
          <button class="btn btn-success" style="margin-left: 10px;" (click)="openScrollableModal(importExcelModal)" >Importer</button>
        </div>
      </div>

      <!-- Barres de recherche + filtre -->
      <div class="d-flex gap-2 ms-auto">
        <input #searchCodeChamp class="p-2" placeholder="Rechercher par code" [(ngModel)]="searchCode"
          (keyup)="onFilterChange()" (ngModelChange)="onFilterChange()" />

        <input #searchIntituleChamp class="p-2" placeholder="Rechercher par intitulé" [(ngModel)]="searchIntitule"
          (keyup)="onFilterChange()" (ngModelChange)="onFilterChange()" />

        <ng-select class="mt-1" [items]="plansComptables" placeholder="Filtrer par plan" bindLabel="intitule"
          bindValue="id" [(ngModel)]="selectedPlan" (ngModelChange)="onFilterChange()">>
          <ng-template ng-notfound-tmp>Aucun type disponible</ng-template>
        </ng-select>
      </div>

    </div>

    <!-- Tableau des comptes -->
    <table class="table table-bordered table-striped">  
      <thead class="table-custom">
        <tr>
          <th>
            <h5>Compte</h5>
          </th>
          <th>
            <h5>Intitulé</h5>
          </th>
          <th>
            <h5>Plan Comptable</h5>
          </th>
          <th>
            <h5>Classe</h5>
          </th>
          <th style="width:120px;">
            <h5>Actions</h5>
          </th>
        </tr>
      </thead>

      <!-- Cas ou les données existent -->
      <tbody class="tbody-custom" *ngIf="!isLoading && lignes.length > 0">
        <tr *ngFor="let compte of lignes; let i = index" [class.table-active]="i === selectedIndex">
          <td>{{ compte.code }}</td>
          <td>{{ compte.intitule }}</td>
          <td>{{ compte.planComptableLibelle }}</td>
          <td>{{ compte.classeCompte }}</td>
          <td>
            <span style="color:blue; cursor:pointer;" class="fa fa-edit fa-2x me-3" (click)="editCompte(i)"></span>
            <span style="color:red; cursor:pointer;" class="fa fa-trash fa-2x" (click)="deleteCompte(i)"></span>
          </td>
        </tr>
        <tr *ngIf="lignes.length === 0">
          <td colspan="6" class="text-center">Aucun compte comptable</td>
        </tr>
      </tbody>

      <!-- Cas ou aucune donnée n'existe -->
      <tbody *ngIf="!isLoading && lignes.length === 0">
        <tr>
          <td colspan="4" class="text-center">
            <h5>Aucune donnée trouvée</h5>
          </td>
        </tr>
      </tbody>

      <!-- Loader -->
      <tbody *ngIf="isLoading">
        <tr>
          <td colspan="4" class="text-center">
            <div class="spinner-border text-secondary" role="status">
              <span class="visually-hidden">Chargement...</span>
            </div>
          </td>
        </tr>
      </tbody>

    </table>

    <!-- Pagination -->
    <nav aria-label="Pagination">
      <ul class="pagination mt-3">

        <!-- Bouton Précédent -->
        <li class="page-item" [class.disabled]="currentPage === 0">
          <a class="page-link" href="javascript:void(0)" (click)="goToPage(currentPage - 1)"
            [ngStyle]="{'background-color': currentPage === 0 ? '#ccc' : 'transparent'}">Précédent</a>
        </li>

        <!-- Pages dynamiques -->
        <li *ngFor="let page of pages()" class="page-item" [class.active]="page === currentPage">
          <a class="page-link" href="javascript:void(0)" (click)="goToPage(page)"
            [ngStyle]="{'background-color': page === currentPage ? '#37a6de' : 'transparent'}">
            {{ page + 1 }}
            <span *ngIf="page === currentPage" class="visually-hidden">(current)</span>
          </a>
        </li>

        <!-- Bouton Suivant -->
        <li class="page-item" [class.disabled]="currentPage >= totalPages() - 1">
          <a class="page-link" href="javascript:void(0)"
            [ngStyle]="{'background-color': currentPage >= totalPages() - 1 ? '#ccc' : 'transparent'}"
            (click)="goToPage(currentPage + 1)">Suivant</a>
        </li>

      </ul>
    </nav>

  </div>
</div>

}

<!-- Modal Création / Modification -->
<ng-template #modalContent>
  <div class="modal-header text-white" style="background-color: #37a6de; ">
    <h4 class="modal-title" style="color: white;">{{ selectedIndex !== null ? 'Modifier Compte' : 'Nouveau Compte' }}
    </h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="compteForm">
      <div class="row mb-3">
        <div class="col-md-4">
          <label>Code</label>
          <input formControlName="code" class="form-control" (keypress)="allowOnlyNumbers($event)">
          <div *ngIf="compteForm.get('code')?.invalid && compteForm.get('code')?.touched" class="text-danger">
            <span *ngIf="compteForm.get('code')?.hasError('required')">Champ obligatoire !</span>
            <span *ngIf="compteForm.get('code')?.hasError('pattern')">Code de 1 à 8 chiffres</span>
          </div>
        </div>
        <div class="col-md-4">
          <label>Intitulé</label>
          <input formControlName="intitule" class="form-control">
          <div *ngIf="compteForm.get('intitule')?.invalid && compteForm.get('intitule')?.touched" class="text-danger">
            Champ obligatoire !
          </div>
        </div>
        <div class="col-md-4">
          <label>Plan comptable</label>
          <ng-select formControlName="planComptableId" [items]="plansComptables" bindLabel="intitule" bindValue="id"
            placeholder="Choisir Plan">
          </ng-select>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">Fermer</button>
    <button type="button" class="btn btn-success"
      (click)="saveCompte()">Enregistrer</button>
  </div>
</ng-template>

<!-- Modal Import Excel -->
<ng-template #importExcelModal let-modal>
  <div class="modal-header text-white" style="background-color: #37a6de">
    <h4 class="modal-title text-white">IMPORT EXCEL</h4>
    <button type="button" class="btn-close btn-close-white" (click)="modal.dismiss('')"></button>
  </div>

  <div class="modal-body">
    <!-- <form (ngSubmit)="onSubmit(); modal.close('Close click')" enctype="multipart/form-data"
      [formGroup]="modelImportForm" class="p-2"> -->
    <form (ngSubmit)="onSubmit(importExcelModal)" enctype="multipart/form-data" [formGroup]="modelImportForm"
      class="p-2">

      <div class="row">
        <!-- Sélection du plan -->
        <div class="col-md-12 mb-3">
          <label>Plan comptable</label>
          <ng-select formControlName="planId" [items]="plansComptables" bindLabel="intitule" bindValue="id"
            placeholder="Choisir le plan à affecter">
          </ng-select>
        </div>

        <!-- Fichier Excel -->
        <div class="col-md-12 mb-3">
          <label>Fichier Excel</label>
          <input required type="file" accept=".xls,.xlsx" class="form-control" (change)="onExcelFileSelected($event)">
          <div *ngIf="fileError" class="text-danger">{{ fileError }}</div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.dismiss('')">Fermer</button>
        <button type="submit" class="btn btn-secondary" style="background-color: #37a6de">Valider</button>
      </div>
    </form>
  </div>
</ng-template>