<!-- end page title -->
<app-page-title [breadcrumbItems]="pageTitle" title="Les sociétés"></app-page-title>

@if (!result) {
  <div class="loader-container">
    <div class="lds-dual-ring"></div>
  </div>
}
<!-- start page title -->
@if (result) {
  <div class="mt-2 card">
    <div class="card-body">
      <form [formGroup]="societeForm">
        <!-- Toolbar responsive -->
        <div class="toolbar d-flex flex-wrap gap-2 mb-3">
          <button type="button" class="btn btn-success" (click)="ajouter()">Nouveau</button>
          <button type="button" class="btn btn-success" (click)="modifier()" [disabled]="selectedIndex === null">Modifier</button>
          <button type="button" class="btn btn-danger" (click)="supprimer()" [disabled]="selectedIndex === null">Supprimer</button>
          <button type="button" class="btn btn-success" (click)="enregistrer()" [disabled]="!formVisible">Enregistrer</button>
          <button type="button" class="btn btn-success" (click)="fermer()" [disabled]="!formVisible">Fermer</button>
        </div>
        <div class="container-fluid">
          <!-- Formulaire principal -->
          @if (formVisible) {
            <div class="row mb-3">
              <div class="row" >
                <div class="col-12 col-md-2 mb-2">
                  <div class="form-group">
                    <label for="">Nom</label>
                    <input type="text" id="nom" name="nom" formControlName="nom" class="form-control" placeholder="Nom">
                    @if (societeForm.get('nom')?.hasError('required') && societeForm.get('nom')?.touched) {
                      <strong class="text-danger">
                        Champ obligatoire !
                      </strong>
                    }
                  </div>
                </div>
                <div class="col-12 col-md-2 mb-2">
                  <div class="form-group">
                    <label for="">Adresse</label>
                    <input type="text" id="adresse" name="adresse" formControlName="adresse" class="form-control" placeholder="Adresse">
                    @if (societeForm.get('adresse')?.hasError('required') && societeForm.get('adresse')?.touched) {
                      <strong class="text-danger">
                        Champ obligatoire !
                      </strong>
                    }
                  </div>
                </div>
                <div class="col-12 col-md-2 mb-2">
                  <div class="form-group">
                    <label for="">Telephone</label>
                    <input type="text" id="nom" name="telephone" formControlName="telephone" class="form-control" placeholder="Telephone">
                    @if (societeForm.get('telephone')?.hasError('required') && societeForm.get('telephone')?.touched) {
                      <strong class="text-danger">
                        Champ obligatoire !
                      </strong>
                    }
                  </div>
                </div>
                <div class="col-12 col-md-2 mb-2">
                  <div class="form-group">
                    <label for="">Email</label>
                    <input type="text" id="email" name="email" formControlName="email" class="form-control" placeholder="Email">
                    @if (societeForm.get('email')?.hasError('required') && societeForm.get('email')?.touched) {
                      <strong class="text-danger">
                        Champ obligatoire !
                      </strong>
                    }
                  </div>
                </div>
                <div class="col-12 col-md-2 mb-2">
                  <div class="form-group">
                    <label for="">IFU</label>
                    <input type="text" id="numeroIFU" name="numeroIFU" formControlName="numeroIFU" class="form-control" placeholder="IFU">
                    @if (societeForm.get('numeroIFU')?.hasError('required') && societeForm.get('numeroIFU')?.touched) {
                      <strong class="text-danger">
                        Champ obligatoire !
                      </strong>
                    }
                  </div>
                </div>
                <div class="col-12 col-md-4 mb-2">
                  <div class="form-group">
                    <label for="">Pays</label>
                    <select required name="paysId"
                      formControlName="paysId"
                      class="form-select"
                      id="paysId">
                      <option [value]="null" disabled>---Select Pays---</option>
                      @for (p of pays; track p) {
                        <option [value]="p.id">
                          {{ p.libelle }}
                        </option>
                      }
                    </select>
                    @if (societeForm.get('paysId')?.hasError('required') && societeForm.get('paysId')?.touched) {
                      <strong class="text-danger">
                        Champ obligatoire !
                      </strong>
                    }
                  </div>
                </div>
                <div class="col-12 col-md-4 mb-2">
                  <div class="form-group">
                    <label for="">Comptable</label>
                    <select required name="comptableId"
                      formControlName="comptableId"
                      class="form-select"
                      id="comptableId">
                      <option [value]="null" disabled>---Select Comptable---</option>
                      @for (comptable of comptables; track comptable) {
                        <option [value]="comptable.id">
                          {{ comptable.prenom +" "+ comptable.nom}}
                        </option>
                      }
                    </select>
                    @if (societeForm.get('comptableId')?.hasError('required') && societeForm.get('comptableId')?.touched) {
                      <strong class="text-danger">
                        Champ obligatoire !
                      </strong>
                    }
                  </div>
                </div>
              </div>
            </div>
          }
        </div>
      </form>
      <div class="table-container">
        <table class="table table-bordered table-sm custom-table">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Adresse</th>
              <th>Telephone</th>
              <th>Email</th>
              <th>IFU</th>
              <th>Pays</th>
              <th>Comptable</th>
            </tr>
          </thead>
          @if (!isLoading) {
            <tbody>
              @for (societe of societes; track societe; let i = $index) {
                <tr
                  (click)="selectLigne(i)"
                  [class.selected]="i === selectedIndex">
                  <td>{{ societe.value.nom }}</td>
                  <td>{{ societe.value.adresse }}</td>
                  <td>{{ societe.value.telephone }}</td>
                  <td>{{ societe.value.email }}</td>
                  <td>{{ societe.value.numeroIFU }}</td>
                  <td>{{ societe.value.paysNom }}</td>
                  <td>{{ societe.value.comptableNom }}</td>
                </tr>
              }
              @if (societes.length == 0) {
                <tr >
                  <td  colspan="7"><h3 style="text-align: center;">Aucune donnée trouvée</h3></td>
                </tr>
              }
            </tbody>
          }
          @if (isLoading) {
            <tbody>
              <tr>
                <td colspan="7" class="text-center">
                  <div class="spinner-border text-secondary" role="status">
                    <span class="visually-hidden">Chargement...</span>
                  </div>
                </td>
              </tr>
            </tbody>
          }
        </table>
      </div>
    </div>
  </div>
}
