<!-- end page title -->
<app-page-title [breadcrumbItems]="pageTitle" title="Ecritures"></app-page-title>
<div class="loader-container" *ngIf="!result">
  <div class="lds-dual-ring"></div>
</div>
<div class="card" *ngIf="result">
    <div class="card-header etat">Ecritures Comptables</div>
  
    <div class="card-body">
      <div *ngIf="message" class="alert alert-warning text-center animated fadeIn">
        {{ message }}
      </div>
      <div *ngIf="!societeId" class="alert alert-warning animated-blink text-center" role="alert">
        Veuillez sélectionner une société pour afficher les exercices.
     </div>
      <form [formGroup]="filtreForm" (ngSubmit)="chargerEcrituresComptables()" *ngIf="societeId">
        <div class="row g-2 mb-3 align-items-end"> <!-- align-items-end ici pour tout aligner proprement -->
      
          <!-- Filtres -->
          <div class="col-12 col-md-8">
            <div class="row g-2 align-items-end">
              <div class="col-6 col-md-3">
                <input type="date" formControlName="from" class="form-control" placeholder="De">
              </div>
              <div class="col-6 col-md-3">
                <input type="date" formControlName="to" class="form-control" placeholder="À">
              </div>
              <div  class="col-12 col-md-2 d-grid">
                <button class="btn btn-etat w-100" type="submit">
                  <i class="fa fa-search me-1"></i> Charger
                </button>
              </div>
            </div>
          </div>
      
          <!-- Boutons Export -->
          <div class="col-12 col-md-4" >
            <div class="row g-2 align-items-end">
              <div class="col-6 d-grid">
                <button (click)="exporterExcel()" class="btn btn-etat w-100">
                  <i class="fa fa-file-excel-o me-1"></i> Excel
                </button>
              </div>
              <div class="col-6 d-grid">
                <button (click)="exporterPDF()" class="btn btn-etat w-100">
                  <i class="fa fa-file-pdf-o me-1"></i> PDF
                </button>
              </div>
            </div>
            <div *ngIf="enCours" class="progress-container">
              <div class="progress-bar" [style.width.%]="progression"></div>
            </div>
          </div>
      
        </div>
      </form>
      <div class="table-container">
      <table class="table table-bordered table-hover">
        <thead class="table-light">
          <tr>
            <th>Date</th>
            <th>Compte</th>
            <th>Tiers</th>
            <th>Libellé</th>
            <th>Sens</th>
            <th>Montant</th>
            <th>Section</th>
          </tr>
        </thead>
        <tbody *ngIf="!loading">
          <tr *ngFor="let r of ecritures">
            <td>{{ r.datePiece | date }}</td>
            <td>{{ r.compte }}</td>
            <td>{{ r.tiers }}</td>
            <td>{{ r.libelle }}</td>
            <td>{{ r.sens }}</td>
            <td>{{ r.montant}}</td>
            <td>{{ r.section}}</td>
          </tr>
          <tr *ngIf="ecritures?.length == 0 ">
            <td  colspan="7"><h3 style="text-align: center;">Aucune écriture trouvée</h3></td>
            
          </tr>
        </tbody>
        <tbody *ngIf="loading">
          <tr>
            <td colspan="7" class="text-center">
              <div class="spinner-border text-secondary" role="status">
                <span class="visually-hidden">Chargement...</span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
  