<app-page-title [breadcrumbItems]="pageTitle" title="Nature Opération"></app-page-title>

<div class="card ">
  <div class="card-body">
    <!-- Boutons principaux -->
    <div class="mb-3 d-flex gap-2 ">
      <button class="btn btn-success" (click)="openModal()" style="background-color: #37a6de">Nouvelle Opération
      </button>
    </div>

    <!-- Tableau des Natures d'Opérations -->
    <table class="table table-bordered table-striped">
      <thead class="table-custom">
        <tr>
          <th>
            <h5>Code</h5>
          </th>
          <th>
            <h5>Libellé</h5>
          </th>
          <th>
            <h5>Compte comptable</h5>
          </th>
          <th>
            <h5>Section Analytique</h5>
          </th>
          <th>
            <h5>Catégorie</h5>
          </th>
          <th>
            <h5>Code journal</h5>
          </th>
          <th></th>
          <th>Sens</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody *ngIf="!isLoading && natureOperations.length > 0">
        <tr *ngFor="let nature of natureOperations; let i = index" [class.table-active]="i === selectedIndex">
          <td>{{ nature.value.code }}</td>
          <td>{{ nature.value.libelle }}</td>
          <td>{{ nature.value.compteComptableLibelle }}</td>
          <td>{{ nature.value.sectionAnalytiqueLibelle }}</td>
          <td>{{ nature.value.categorieLibelle }}</td>
          <td>{{ nature.value.codeJournal }}</td>
          <td>{{ nature.value.sensParDefaut }}</td>
          <td>
            <span class="fa fa-edit fa-2x text-primary me-2" style="cursor:pointer" (click)="editNature(i)"></span>
            <span class="fa fa-trash fa-2x text-danger" style="cursor:pointer" (click)="deleteNature(i)"></span>
          </td>
        </tr>
      </tbody>

      <tbody *ngIf="!isLoading && natureOperations.length === 0">
        <tr>
          <td colspan="8" class="text-center">
            <h5>Aucune donnée trouvée</h5>
          </td>
        </tr>
      </tbody>

      <tbody *ngIf="isLoading">
        <tr>
          <td colspan="8" class="text-center">
            <div class="spinner-border text-secondary" role="status">
              <span class="visually-hidden">Chargement...</span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Pagination -->
    <nav aria-label="Pagination">
      <ul class="pagination mt-3">

        <!-- Bouton Précédent -->
        <li class="page-item" [class.disabled]="currentPage === 0">
          <a class="page-link" href="javascript:void(0)" (click)="goToPage(currentPage - 1)"
            [ngStyle]="{'background-color': currentPage === 0 ? '#ccc' : 'transparent'}">Précédent</a>
        </li>

        <!-- Pages dynamiques -->
        <li *ngFor="let page of pages()" class="page-item" [class.active]="page === currentPage">
          <a class="page-link" href="javascript:void(0)" (click)="goToPage(page)"
            [ngStyle]="{'background-color': page === currentPage ? '#37a6de' : 'transparent'}">
            {{ page + 1 }}
            <span *ngIf="page === currentPage" class="visually-hidden">(current)</span>
          </a>
        </li>

        <!-- Bouton Suivant -->
        <li class="page-item" [class.disabled]="currentPage >= totalPages() - 1">
          <a class="page-link" href="javascript:void(0)"
            [ngStyle]="{'background-color': currentPage >= totalPages() - 1 ? '#ccc' : 'transparent'}"
            (click)="goToPage(currentPage + 1)">Suivant</a>
        </li>

      </ul>
    </nav>
  </div>
</div>

<!-- Modal Création / Modification -->
<ng-template #modalContent>
  <div class="modal-header text-white" style="background-color: #37a6de; padding: 6px 10px;">
    <h4 class="modal-title" style="color: white">{{ selectedIndex !== null ? 'Modifier Nature Opération' : 'Nature
      Opération' }}</h4>

    <button type="button" class="btn" style="color:white; font-size:1.4rem;" (click)="closeModal()">
      &times;
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="natureOperationForm">
      <input type="hidden" formControlName="id">

      <div class="row g-3">

        <!-- Libellé -->
        <div class="col-md-4">
          <label>Intitulé</label>
          <input type="text" class="form-control" formControlName="libelle" placeholder="Intitulé">
          <div
            *ngIf="natureOperationForm.get('libelle')?.hasError('required') && natureOperationForm.get('libelle')?.touched"
            class="text-danger">
            Champ obligatoire !
          </div>
        </div>

        <!-- Code journal -->
        <div class="col-md-4">
          <label>Code journal</label>
          <ng-select [items]="codesjournaux" bindLabel="libelle" bindValue="code" placeholder="Sélection Journal"
            formControlName="codeJournalId" [searchable]="true">
            <ng-template ng-notfound-tmp>Aucun journal disponible</ng-template>
          </ng-select>
        </div>

        <!-- Catégorie -->
        <div class="col-md-4">
          <label>Catégorie</label>
          <ng-select [items]="categories" bindLabel="libelle" bindValue="id" placeholder="Sélection Catégorie"
            formControlName="categorieId" [searchable]="true" (change)="onCategorieChange()">
            <ng-template ng-notfound-tmp>Aucune catégorie disponible</ng-template>
          </ng-select>
          <div
            *ngIf="natureOperationForm.get('categorieId')?.hasError('required') && natureOperationForm.get('categorieId')?.touched"
            class="text-danger">
            Champ obligatoire !
          </div>
        </div>


        <!-- Code -->
        <div class="col-md-4">
          <label>Montant</label>
          <input type="text" class="form-control" formControlName="montant" placeholder="Montant (FCFA)">
          <div *ngIf="natureOperationForm.get('montant')?.hasError('required') && natureOperationForm.get('montant')?.touched"
            class="text-danger">
            Champ obligatoire !
          </div>
        </div>

        <!-- Compte Comptable -->
        <div class="col-md-6">
          <label>Compte Comptable</label>
          <ng-select [items]="comptes" bindValue="id" placeholder="Sélection Compte"
            formControlName="compteComptableId" [searchable]="true" [searchFn]="searchFn"  [disabled]="!natureOperationForm.value.categorieId">

            <!-- Label affiché dans le select -->
            <ng-template ng-label-tmp let-item="item">
              {{item.code}} - {{item.intitule}}
            </ng-template>
            <!-- Option dans le dropdown -->
            <ng-template ng-option-tmp let-item="item">
              {{item.code}} - {{item.intitule}}
            </ng-template>

            <ng-template ng-notfound-tmp>
              Aucun compte comptable disponible
            </ng-template>
          </ng-select>
        </div>

        <!-- Section Analytique -->
        <div class="col-md-4" *ngIf="isExploitation">
          <label>Section Analytique</label>
          <ng-select [items]="sectionsAnalytiques" bindLabel="libelle" bindValue="id"
            placeholder="Sélection Section Analytique" formControlName="sectionAnalytiqueId" [searchable]="true">
            <ng-template ng-notfound-tmp>Aucune section analytique disponible</ng-template>
          </ng-select>
        </div>

        <!-- Sens 
        <div class="col-md-6">
          <label>Sens</label>
          <ng-select [items]="listeSens" bindLabel="libelle" bindValue="id" placeholder="Sélection Sens"
            formControlName="sensParDefaut" [searchable]="true">
            <ng-template ng-notfound-tmp>Aucun sens disponible</ng-template>
          </ng-select>
        </div> -->

        <!-- Contre-Partie 
        <div class="col-md-6" *ngIf="isTresorerie">
          <label>Contre-Partie</label>
          <input type="text" class="form-control" formControlName="compteContrePartie" placeholder="Contre-Partie">
        </div> -->
      </div>
    </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">Fermer</button>
    <button type="button" class="btn btn-success" (click)="enregistrer()"
      style="background-color: #37a6de; padding: 6px 10px;">Enregistrer</button>
  </div>
</ng-template>