.table-custom th {
  background-color: #37a6de;
  padding: 6px 4px;
  font-weight: bold;
  vertical-align: middle;
}

.table-custom th h5 {
  margin: 6px;
  color: white;
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
}

.btn.btn-success{ 
  background-color: #37a6de;
  border: #37a6de;
}
// table {
//   width: 100%;
//   border-collapse: collapse;
// }

// /* Zebra striping */
// tr:nth-of-type(odd) {
//   background: #eee;
// }

// th {
//   background: rgb(96, 96, 96);
//   color: white;
//   font-weight: bold;
// }

// td,
// th {
//   padding: 6px;
//   border: 1px solid #ccc;
//   text-align: left;
// }

/* loader*/
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  /* S'assure que le conteneur prend toute la hauteur de la fenêtre */
}

.lds-dual-ring,
.lds-dual-ring:after {
  box-sizing: border-box;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  //border: 6.4px solid currentColor;
  border: 6.4px solid #2959a1;
  border-color: #2959a1 transparent #2959a1 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.btn-color {
  background: #FF6F61;
  color: white;
  font-weight: bold;
}

.toolbar {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.result-container {
  margin-top: 1em;
}

.success-message {
  color: green;
  background-color: #e6ffed;
  padding: 10px;
  border-radius: 4px;
}

.error-message {
  color: red;
  background-color: #ffe6e6;
  padding: 10px;
  border-radius: 4px;
}

.result-icon {
  font-weight: bold;
  margin-right: 0.5em;
}

.error-table {
  width: 100%;
  margin-top: 1em;
  border-collapse: collapse;
}

.error-table th,
.error-table td {
  border: 1px solid #ccc;
  padding: 6px 10px;
}


.table-container {
  max-height: 500px;
  /* ou 500px selon ton besoin */
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
}

tr.selected {
  background-color: #2536d3 !important;
  /* bleu clair */
  color: #FFFFFF;
  font-weight: bold;
}

tr {
  cursor: pointer;
  transition: background-color 0.2s ease;
}

/*  

  

  
  
  
  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  
  
  table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
  }
  
  thead {
    background-color: #f2f2f2;
  }
  
  td, th {
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  tr.selected {
    background-color: #e0f3ff;
  }
  
  */