<app-page-title [breadcrumbItems]="pageTitle" title="Plan Analytique"></app-page-title>

<div class="card mt-2">
  <div class="card-body">

    <!-- Boutons principaux -->
    <div class="mb-3 d-flex gap-2 flex-wrap">
      <button class="btn btn-success" (click)="openModal()">Nouveau Plan
        Analytique</button>
      <button class="btn btn-success" (click)="openScrollableModal(importExcelModal)"
        style="background-color: #37a6de">Importer</button>
    </div>

    <!-- Tableau des plans analytiques -->
    <table class="table table-bordered table-striped">
      <thead class="table-custom">
        <tr>
          <th>
            <h5>Section Analytique</h5>
          </th>
          <th>
            <h5>Société</h5>
          </th>
          <th style="width:120px;">
            <h5>Actions</h5>
          </th>
        </tr>
      </thead>
      <tbody *ngIf="!isLoading && plansAnalytiques.length > 0">
        <tr *ngFor="let plan of lignes; let i = index">
          <td>{{ plan.value.sectionAnalytique }}</td>
          <td>{{ plan.value.societe }}</td>
          <td>
            <span style="color:blue;cursor:pointer" class="fa fa-edit fa-2x mr-1 me-3" (click)="editPlan(i)"></span>
            <span style="color:red;cursor:pointer" class="fa fa-trash fa-2x mr-1" (click)="deletePlan(i)"></span>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="!isLoading && plansAnalytiques.length === 0">
        <tr>
          <td colspan="3" class="text-center">
            <h5>Aucune donnée trouvée</h5>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="isLoading">
        <tr>
          <td colspan="3" class="text-center">
            <div class="spinner-border text-secondary" role="status">
              <span class="visually-hidden">Chargement...</span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<!-- Modal Import Excel -->
<ng-template #importExcelModal let-modal>
  <div class="modal-header text-white" style="background-color: #37a6de">
    <h4 class="modal-title text-white">IMPORT EXCEL</h4>
    <button type="button" class="btn-close btn-close-white" (click)="modal.dismiss('')"></button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmit(); modal.close('Close click')" enctype="multipart/form-data"
      [formGroup]="modelImportForm" class="p-2">
      <div class="row">
        <div class="col-md-6 mb-3">
          <label>Fichier Excel</label>
          <input required type="file" accept=".xls,.xlsx" class="form-control" (change)="onExcelFileSelected($event)">
          <div *ngIf="fileError" class="text-danger">{{ fileError }}</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.dismiss('')">Fermer</button>
        <button type="submit" class="btn btn-secondary" style="background-color: #37a6de">Valider</button>
      </div>
    </form>
  </div>
</ng-template>

<!-- Modal Création / Modification Plan Analytique -->
<ng-template #modalContent>

  <div class="modal-header text-white" style="background-color: #37a6de; padding: 6px 10px;">
    <h4 class="modal-title" style="color: white;">{{ selectedIndex !== null ? 'Modifier Plan Analytique' : 'Nouveau
      Plan Analytique' }}</h4>
    <button type="button" class="btn" style="color:white; font-size:1.4rem;" (click)="closeModal()">
      &times;
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="planAnalytiqueForm">
      <input type="hidden" formControlName="id">
      <div class="row g-3">
        <div class="mb-3 col-md-7">
          <label>Sections Analytiques</label>
          <ng-select formControlName="sectionAnalytiques" [items]="sectionsAnalytiques" bindLabel="libelle"
            bindValue="id" [multiple]="true" [clearable]="false" placeholder="Sélection Sections Analytiques"
            [searchable]="true">
            <ng-template ng-notfound-tmp>Aucune section analytique disponible</ng-template>
          </ng-select>
        </div>

        <div class="mb-3 col-md-5">
          <label>Société</label>
          <ng-select formControlName="societe" [items]="societes" bindLabel="nom" bindValue="id" [clearable]="false"
            placeholder="Société" [searchable]="true">
            <ng-template ng-notfound-tmp>Aucune société disponible</ng-template>
          </ng-select>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">Fermer</button>
    <button type="button" class="btn btn-success" (click)="enregistrer()"
      style="background-color: #37a6de">Enregistrer</button>
  </div>
</ng-template>