.table-custom th {
    background-color: #37a6de;
    padding: 6px 4px;
    font-weight: bold;
    vertical-align: middle;
}

.table-custom th h5{
    margin: 6px;
    color: white;
    font-weight: bold;
    text-align: left;
    vertical-align: middle;
}

.btn-success {
  background-color: #37a6de; 
  border: #37a6de
}

/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}

th {
  background: rgb(96, 96, 96);
  color: white;
  font-weight: bold;
}

td,
th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}

nav[aria-label="Pagination"] {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 0;
} 

.pagination .page-item+.page-item {
  margin-left: 5px;
}

/* loader*/
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.lds-dual-ring,
.lds-dual-ring:after {
  box-sizing: border-box;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  //border: 6.4px solid currentColor;
  border: 6.4px solid #2959a1;
  border-color: #2959a1 transparent #2959a1 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
