<app-page-title [breadcrumbItems]="pageTitle" title="Plan Comptable"></app-page-title>

<div class="card">
  <div class="card-body">

    <!-- Boutons -->
    <div class="mb-3 d-flex gap-2">
      <button class="btn btn-success" (click)="openModal()" style="background-color: #37a6de; border: #37a6de;">Nouveau
        Plan</button>
      <button class="btn btn-success" (click)="openScrollableModal(importExcelModal)"
        style="background-color: #37a6de; border: #37a6de;">Importer</button>
    </div>

    <!-- Tableau des plans comptables -->
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th style="background-color: #37a6de; color: white;">
            <h4 style="color: white;"><strong>Intitulé</strong> </h4>
          </th>
          <th style="background-color: #37a6de">
            <h4 style="color: white;"><strong>Société</strong> </h4>
          </th>
          <th style="width:120px; background-color: #37a6de; color: white;">
            <h4 style="color: white;"> <strong>Actions</strong> </h4>
          </th>
        </tr>
      </thead>
      <tbody *ngIf="!isLoading && plansComptables.length > 0">
        <tr *ngFor="let plan of plansComptables; let i = index" [class.table-active]="i === selectedIndex">
          <td>{{ plan.value.intitule }}</td>
          <td>{{ plan.value.societe }}</td>
          <td>
            <span style="color:blue;cursor:pointer" class="fa fa-edit fa-2x me-3" (click)="editPlan(i)"></span>
            <span style="color:red;cursor:pointer" class="fa fa-trash fa-2x" (click)="deletePlan(i)"></span>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="!isLoading && plansComptables.length == 0">
        <tr>
          <td colspan="3" class="text-center">
            <h5>AUCUN PLAN COMPTABLE ENREGISTRÉ</h5>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="isLoading">
        <tr>
          <td colspan="3" class="text-center">
            <div class="spinner-border text-secondary" role="status">
              <span class="visually-hidden">Chargement...</span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal Création / Modification -->
<ng-template #modalContent>
  <div class="modal-header text-white" style="background-color: #37a6de; padding: 6px 10px;">
    <h4 class="modal-title" style="color: white;">{{ selectedIndex !== null ? 'Modifier Plan Comptable' : 'Nouveau Plan
      Comptable' }}</h4>
    <button type="button" class="btn" style="color:white; font-size:1.4rem;" (click)="closeModal()">
      &times;
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="planComptableForm">
      <input type="hidden" formControlName="id">

      <div class="row g-3">
        <div class="mb-3 col-md-5">
          <label>Société</label>
          <ng-select formControlName="societeId" [items]="societes" bindLabel="nom" bindValue="id" [clearable]="false"
            placeholder="Sélection Société" [searchable]="true">
            <ng-template ng-notfound-tmp>Aucune société disponible</ng-template>
          </ng-select>
          <div
            *ngIf="planComptableForm.get('societeId')?.hasError('required') && planComptableForm.get('societeId')?.touched"
            class="text-danger">Champ obligatoire !</div>
        </div>

        <div class="mb-3 col-md-7">
          <label>Intitulé</label>
          <input type="text" formControlName="intitule" class="form-control" pattern="^[a-zA-Z0-9 -]+$">
          <div
            *ngIf="planComptableForm.get('intitule')?.hasError('required') && planComptableForm.get('intitule')?.touched"
            class="text-danger">Champ obligatoire !</div>
          <div
            *ngIf="planComptableForm.get('intitule')?.hasError('pattern') && planComptableForm.get('intitule')?.touched"
            class="text-danger">Seuls lettres, chiffres et tirets sont autorisés !</div>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">Fermer</button>
    <button type="button" class="btn btn-success" (click)="enregistrer()"
      style="background-color: #37a6de; border: #37a6de">Enregistrer</button>
  </div>
</ng-template>