<app-page-title [breadcrumbItems]="pageTitle" title="Plan Comptable"></app-page-title>

@if (!result) {
<div class="loader-container">
  <div class="lds-dual-ring"></div>
</div>
}

@if (result){
<div class="card">
  <div class="card-body">

    <!-- Boutons -->
    <div class="mb-3 d-flex gap-2 align-items-center justify-content-between"> 
      <button class="btn btn-success" (click)="openModal()">Nouveau
        Plan Comptable</button>

      <div class="d-flex gap-2 ms-auto">
        <input #searchInputLibelle class="p-2" placeholder="Rechercher par libellé" [(ngModel)]="searchLibelle"
          (keyup)="onFilterChange()" (ngModelChange)="onFilterChange()" />
      </div>
    </div>

    <!-- Tableau des plans comptables -->
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th style="background-color: #37a6de; color: white;">
            <h5 style="color: white;"> Code</h5>
          </th>
          <th style="background-color: #37a6de; color: white;">
            <h5 style="color: white;"> Intitulé</h5>
          </th>
          <th style="width:120px; background-color: #37a6de; color: white;">
            <h5 style="color: white;"> Actions</h5>
          </th>
        </tr>
      </thead>
      <tbody *ngIf="!isLoading && lignes.length > 0">
        <tr *ngFor="let plan of lignes; let i = index" [class.table-active]="i === selectedIndex">
          <td>{{ plan.code }}</td>
          <td>{{ plan.intitule }}</td>
          <td>
            <span style="color:blue;cursor:pointer" class="fa fa-edit fa-2x me-3" (click)="editPlan(i)"></span>
            <span style="color:red;cursor:pointer" class="fa fa-trash fa-2x" (click)="deletePlan(i)"></span>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="!isLoading && lignes.length == 0">
        <tr>
          <td colspan="3" class="text-center">
            <h5>AUCUN PLAN COMPTABLE TROUVÉ</h5>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="isLoading">
        <tr>
          <td colspan="3" class="text-center">
            <div class="spinner-border text-secondary" role="status">
              <span class="visually-hidden">Chargement...</span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Pagination -->
    <nav aria-label="Pagination">
      <ul class="pagination mt-3">

        <!-- Bouton Précédent -->
        <li class="page-item" [class.disabled]="currentPage === 0">
          <a class="page-link" href="javascript:void(0)" (click)="goToPage(currentPage - 1)"
            [ngStyle]="{'background-color': currentPage === 0 ? '#ccc' : 'transparent'}">Précédent</a>
        </li>

        <!-- Pages dynamiques -->
        <li *ngFor="let page of pages()" class="page-item" [class.active]="page === currentPage">
          <a class="page-link" href="javascript:void(0)" (click)="goToPage(page)"
            [ngStyle]="{'background-color': page === currentPage ? '#37a6de' : 'transparent'}">
            {{ page + 1 }}
            <span *ngIf="page === currentPage" class="visually-hidden">(current)</span>
          </a>
        </li>

        <!-- Bouton Suivant -->
        <li class="page-item" [class.disabled]="currentPage >= totalPages() - 1">
          <a class="page-link" href="javascript:void(0)"
            [ngStyle]="{'background-color': currentPage >= totalPages() - 1 ? '#ccc' : 'transparent'}"
            (click)="goToPage(currentPage + 1)">Suivant</a>
        </li>

      </ul>
    </nav>

  </div>
</div>

}

<!-- Modal Création / Modification -->
<ng-template #modalContent>
  <div class="modal-header text-white" style="background-color: #37a6de; padding: 6px 10px;">
    <h4 class="modal-title" style="color: white;">{{ selectedIndex !== null ? 'Modifier Plan Comptable' : 'Nouveau Plan
      Comptable' }}</h4>
    <button type="button" class="btn" style="color:white; font-size:1.4rem;" (click)="closeModal()">
      &times;
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="planComptableForm">
      <input type="hidden" formControlName="id">

      <div class="row g-3">
        <div class="mb-3 col-md-6">
          <label>Code</label>
          <input type="text" formControlName="code" class="form-control">
          <div *ngIf="planComptableForm.get('code')?.hasError('required') && planComptableForm.get('code')?.touched"
            class="text-danger">Champ obligatoire !</div>
          <div *ngIf="planComptableForm.get('code')?.hasError('pattern') && planComptableForm.get('code')?.touched"
            class="text-danger">Seuls lettres, chiffres et tirets sont autorisés (pas d'espace) !</div>
          <div *ngIf="planComptableForm.get('code')?.hasError('maxlength') && planComptableForm.get('code')?.touched"
            class="text-danger">Seuls 5 caractères sont autorisés !</div>
        </div>
        <div class="mb-3 col-md-6">
          <label>Intitulé</label>
          <input type="text" formControlName="intitule" class="form-control">
          <div
            *ngIf="planComptableForm.get('intitule')?.hasError('required') && planComptableForm.get('intitule')?.touched"
            class="text-danger">Champ obligatoire !</div>
          <div
            *ngIf="planComptableForm.get('intitule')?.hasError('pattern') && planComptableForm.get('intitule')?.touched"
            class="text-danger">Seuls lettres, chiffres et tirets sont autorisés !</div>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">Fermer</button>
    <button type="button" class="btn btn-success" (click)="enregistrer()">Enregistrer</button>
  </div>
</ng-template>