.table-custom th {
    background-color: #37a6de;
    padding: 6px 4px;
    font-weight: bold;
    vertical-align: middle;
}

.table-custom th h5{
    margin: 6px;
    color: white;
    font-weight: bold;
    text-align: left;
    vertical-align: middle;
}

.btn.btn-success{ 
  background-color: #37a6de;
  border: #37a6de;
}