<app-page-title [breadcrumbItems]="pageTitle" title="Les cabinets"></app-page-title>

<div class="card mt-2">
  <div class="card-body">

    <!-- Boutons principaux -->
    <div class="mb-3 d-flex gap-2 flex-wrap">
      <button class="btn btn-success" (click)="openModal()" style="background-color: #37a6de">Nouveau Cabinet</button>

      <!-- Barre de recherche + filtre -->
      <div class="d-flex gap-2 ms-auto">
        <input #searchInputNom class="p-2" placeholder="Rechercher par nom" [(ngModel)]="searchNom"
          (keyup)="onFilterChange()" (ngModelChange)="onFilterChange()" />

        <input #searchInputTel class="p-2" placeholder="Rechercher par téléphone" [(ngModel)]="searchTel"
          (keyup)="onFilterChange()" (ngModelChange)="onFilterChange()" />

        <ng-select class="mt-1" [items]="pays" placeholder="Filtrer par pays" bindLabel="libelle" bindValue="id"
          [(ngModel)]="selectedPays" (ngModelChange)="onFilterChange()">
          <ng-template ng-notfound-tmp>Aucun pays disponible</ng-template>
        </ng-select>
      </div>

    </div>

    <!-- Tableau des cabinets -->
    <div class="table-container">
      <table class="table table-bordered table-striped">
        <thead class="table-custom">
          <tr>
            <th>
              <h5>Nom</h5>
            </th>
            <th>
              <h5>Adresse</h5>
            </th>
            <th>
              <h5>Téléphone</h5>
            </th>
            <th>
              <h5>Email</h5>
            </th>
            <th>
              <h5>IFU</h5>
            </th>
            <th>
              <h5>RCCM</h5>
            </th>
            <th>
              <h5>Pays</h5>
            </th>
            <th>
              <h5>Actions</h5>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="!isLoading && lignes.length > 0">
          <tr *ngFor="let cabinet of lignes; let i = index" (click)="selectLigne(i)">
            <td>{{ cabinet.nom }}</td>
            <td>{{ cabinet.adresse }}</td>
            <td>{{ cabinet.telephone }}</td>
            <td>{{ cabinet.email }}</td>
            <td>{{ cabinet.numeroIFU }}</td>
            <td>{{ cabinet.numeroRccm }}</td>
            <td>{{ cabinet.paysNom }}</td>
            <td style="display: flex; justify-content:space-evenly;">
              <span style="color:blue;cursor:pointer" class="fa fa-edit fa-2x me-3" (click)="editCabinet(i)"></span>
              <span style="color:red;cursor:pointer" class="fa fa-trash fa-2x" (click)="deleteCabinetConfirm(i)"></span>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="!isLoading && lignes.length === 0">
          <tr>
            <td colspan="8" class="text-center">
              <h5>Aucune donnée trouvée</h5>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="isLoading">
          <tr>
            <td colspan="8" class="text-center">
              <div class="spinner-border text-secondary" role="status">
                <span class="visually-hidden">Chargement...</span>
              </div>
            </td>
          </tr>
        </tbody>

      </table>

      <!-- Pagination -->
      <nav aria-label="Pagination">
        <ul class="pagination mt-3">

          <!-- Bouton Précédent -->
          <li class="page-item" [class.disabled]="currentPage === 0">
            <a class="page-link" href="javascript:void(0)" (click)="goToPage(currentPage - 1)"
              [ngStyle]="{'background-color': currentPage === 0 ? '#ccc' : 'transparent'}">Précédent</a>
          </li>

          <!-- Pages dynamiques -->
          <li *ngFor="let page of pages()" class="page-item" [class.active]="page === currentPage">
            <a class="page-link" href="javascript:void(0)" (click)="goToPage(page)"
              [ngStyle]="{'background-color': page === currentPage ? '#37a6de' : 'transparent'}">
              {{ page + 1 }}
              <span *ngIf="page === currentPage" class="visually-hidden">(current)</span>
            </a>
          </li>

          <!-- Bouton Suivant -->
          <li class="page-item" [class.disabled]="currentPage >= totalPages() - 1">
            <a class="page-link" href="javascript:void(0)"
              [ngStyle]="{'background-color': currentPage >= totalPages() - 1 ? '#ccc' : 'transparent'}"
              (click)="goToPage(currentPage + 1)">Suivant</a>
          </li>

        </ul>
      </nav>

    </div>

  </div>
</div>

<!-- Modal Création / Modification Cabinet -->
<ng-template #modalContent>

  <div class="modal-header text-white" style="background-color: #37a6de; padding: 6px 10px;">
    <h4 class="modal-title" style="color: white;">{{ selectedIndex !== null ? 'Modifier Cabinet' : 'Nouveau Cabinet' }}
    </h4>
    <button type="button" class="btn" style="color:white; font-size:1.4rem;" (click)="closeModal()">
      &times;
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="cabinetForm" class="container-fluid">
      <input type="hidden" formControlName="id">
      <div class="row g-3">
        <div class="col-md-6">
          <label>Nom</label>
          <input type="text" formControlName="nom" bindLabel="nom" class="form-control">
          <div *ngIf="cabinetForm.get('nom')?.hasError('required') && cabinetForm.get('nom')?.touched"
            class="text-danger">Champ obligatoire !</div>
        </div>
        <div class="col-md-6">
          <label>Adresse</label>
          <input type="text" formControlName="adresse" class="form-control">
          <div *ngIf="cabinetForm.get('adresse')?.hasError('required') && cabinetForm.get('adresse')?.touched"
            class="text-danger">Champ obligatoire !</div>
        </div>
        <div class="col-md-6">
          <label>Téléphone</label>
          <input type="text" formControlName="telephone" class="form-control">
        </div>
        <div class="col-md-6">
          <label>Email</label>
          <input type="text" formControlName="email" class="form-control">
          <div *ngIf="cabinetForm.get('email')?.hasError('required') && cabinetForm.get('email')?.touched"
            class="text-danger">Champ obligatoire !</div>
          <div *ngIf="cabinetForm.get('email')?.hasError('email') && cabinetForm.get('email')?.touched"
            class="text-danger">Email invalide !</div>
        </div>
        <div class="col-md-6">
          <label>IFU</label>
          <input type="text" formControlName="numeroIFU" class="form-control">
          <div *ngIf="cabinetForm.get('numeroIFU')?.hasError('required') && cabinetForm.get('numeroIFU')?.touched"
            class="text-danger">Champ obligatoire !</div>
        </div>
        <div class="col-md-6">
          <label>RCCM</label>
          <input type="text" formControlName="numeroRccm" class="form-control">
          <div *ngIf="cabinetForm.get('numeroRccm')?.hasError('required') && cabinetForm.get('numeroRccm')?.touched"
            class="text-danger">Champ obligatoire !</div>
        </div>
        <div class="col-md-6">
          <label>Pays</label>
          <ng-select [items]="pays" bindLabel="libelle" bindValue="id" formControlName="paysId"
            placeholder="Sélection pays" [searchable]="true">
            <ng-template ng-notfound-tmp>Aucun pays disponible</ng-template>
          </ng-select>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">Fermer</button>
    <button type="button" class="btn btn-success" (click)="enregistrer()"
      style="background-color: #37a6de">Enregistrer</button>
  </div>
</ng-template>