<!-- vertical layout -->
@if (isVerticalLayoutRequested()) {
  <app-vertical-layout [layoutWidth]="layoutWidth">
  </app-vertical-layout>
}


<!-- horizontal layout -->
@if (isHorizontalLayoutRequested()) {
  <app-horizontal-layout [layoutWidth]="layoutWidth">
  </app-horizontal-layout>
}


<!-- detached layout -->
@if (isDetachedLayoutRequested()) {
  <app-detached-layout [layoutWidth]="layoutWidth">
  </app-detached-layout>
}

<!-- two-column-menu layout -->
@if (isTwoColumnMenuLayoutRequested()) {
  <app-two-column-menu-layout [layoutWidth]="layoutWidth">
  </app-two-column-menu-layout>
}