/* loader*/
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh; /* S'assure que le conteneur prend toute la hauteur de la fenêtre */
  }
  
  .lds-dual-ring,
  .lds-dual-ring:after {
  box-sizing: border-box;
  }
  
  .lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  }
  
  .lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  //border: 6.4px solid currentColor;
  border: 6.4px solid #2959a1;
  border-color: #2959a1 transparent #2959a1 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
  }
  
  @keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
  }

.card {
    margin: 20px;
    width: 100%; 
    border-collapse: collapse; 
  }
  .table {
    margin-top: 20px;
  }

  .table-container {
    max-height: 400px; /* ou 300px selon ton besoin */
    overflow-y: auto;
    //border: 1px solid #ccc;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 8px 12px;
    height: 40px; /* fixe une hauteur pour les lignes si besoin */
  }

//   .table td,
// .table th {
//   padding: 6px 10px;
//   font-size: 14px;
//   line-height: 1.2;
// }

  
  
  .btn-etat {
    background-color: #25D366 !important;
    color: #fff;
    border: none;
    white-space: nowrap;
  }
  
  

  .btn-etat:hover {
    background-color: #1DA851 !important;
    color: #fff;
  }
  
  
  /* Zebra striping */
  tr:nth-of-type(odd) { 
    background: #eee; 
  }
  th { 
    background: rgb(96, 96, 96); 
    color: white; 
   // font-weight: bold; 
  }

  .etat{
    background-color: rgb(96, 96, 96) !important;
    color: #fff;
  }

  /* bar progression*/

.progress-container {
  width: 100%;
  height: 12px;
  background-color: #eee;
  border-radius: 6px;
  margin-top: 12px;
  overflow: hidden;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.15);
}

.progress-bar {
  height: 100%;
  background: linear-gradient(to right, #25D366, #128C7E);
  transition: width 0.2s ease;
  border-radius: 6px 0 0 6px;
}

.animated {
  animation: clignote 1.5s infinite;
}

.animated-blink {
  animation: blink 1.5s linear infinite;
  font-weight: bold;
}