<!-- page title -->
<app-page-title [breadcrumbItems]="pageTitle" title="Utilisateurs"></app-page-title>

@if (!result) {
<div class="loader-container">
  <div class="lds-dual-ring"></div>
</div>
} @if (result) {
<div class="card">
  <div class="card-body">
    <div class="mb-3 d-flex flex-wrap align-items-center justify-content-between">
      <button class="btn btn-success" (click)="openModal()">Nouvel utilisateur</button>

      <div class="d-flex gap-2 ms-auto">
        <input class="form-control" placeholder="Rechercher par nom" [(ngModel)]="searchNom" (keyup)="onFilterChange()"
          (ngModelChange)="onFilterChange()" (keydown)="controleForm.allowAlphanumericWithAccents($event)" />
        <input class="form-control" placeholder="Rechercher par prénom" [(ngModel)]="searchPrenom"
          (keyup)="onFilterChange()" (ngModelChange)="onFilterChange()"
          (keydown)="controleForm.allowAlphanumericWithAccents($event)" />
        <input class="form-control" placeholder="Rechercher par username" [(ngModel)]="searchUsername"
          (keyup)="onFilterChange()" (ngModelChange)="onFilterChange()" />
        <ng-select class="w-100" [items]="roles" bindLabel="libelle" bindValue="libelle" placeholder="Filtrer par rôle"
          [(ngModel)]="selectedRole" (change)="onFilterChange()">
          <ng-template ng-notfound-tmp>Aucun rôle disponible</ng-template>
        </ng-select>
      </div>
    </div>

    <div class="table-responsive m-t-40">
      <h5 class="card-title mt-0 mb-3 header-title">Liste des utilisateurs</h5>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th style="background-color: #37a6de; color: white;">Nom</th>
            <th style="background-color: #37a6de; color: white;">Prénom</th>
            <th style="background-color: #37a6de; color: white;">Téléphone</th>
            <th style="background-color: #37a6de; color: white;">Username</th>
            <th style="background-color: #37a6de; color: white;">Rôle</th>
            <th style="background-color: #37a6de; color: white;">Statut</th>
            <th style="width:120px; background-color: #37a6de; color: white;">Actions</th>
          </tr>
        </thead>
        <tbody *ngIf="!isLoading && users.length">

          <tr *ngFor="let u of users">
            <td>{{u.nom}}</td>
            <td>{{u.prenom}}</td>
            <td>{{u.telephone}}</td>
            <td>{{u.username}}</td>
            <td>{{u.role}}</td>
            <td>
              @if (u.enabled) {
              <span class="badge bg-success py-1">Actif</span>
              }
              @if (!u.enabled) {
              <span class="badge bg-danger py-1" style="color: white;">Inactif</span>
              }
            </td>
            <td style="cursor:pointer;">
              <span style="color:blue" class="fa fa-edit fa-2x mr-1" (click)="openModal(u)"></span>
              <span class="fa fa-trash fa-2x text-danger" (click)="deleteUser(u.id)"></span>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="!isLoading && users.length == 0">
          <tr>
            <td colspan="7" class="text-center">
              <h5>AUCUN UTILISATEUR TROUVÉ</h5>
            </td>
          </tr>
        </tbody>

        <!-- Loading du tableau  -->
        <tbody *ngIf="isLoading">
          <tr>
            <td colspan="6" class="text-center">
              <div class="spinner-border text-secondary" role="status">
                <span class="visually-hidden">Chargement...</span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Pagination  -->
      <nav aria-label="Pagination">
        <ul class="pagination mt-3">
          <li class="page-item" [class.disabled]="currentPage === 0">
            <a class="page-link" href="javascript:void(0)" (click)="goToPage(currentPage - 1)">Précédent</a>
          </li>

          <li *ngFor="let page of pages()" class="page-item" [class.active]="page === currentPage">
            <a class="page-link" href="javascript:void(0)" (click)="goToPage(page)">
              {{ page + 1 }}
            </a>
          </li>

          <li class="page-item" [class.disabled]="currentPage >= totalPages() - 1">
            <a class="page-link" href="javascript:void(0)" (click)="goToPage(currentPage + 1)">Suivant</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
}

<ng-template #content let-modal>
  <div class="modal-header" style="background-color: #37a6de;">
    <h4 class="modal-title text-light" id="NewTaskModalLabel">UTILISATEUR</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('')"></button>
  </div>

  <div class="modal-body">
    <form (ngSubmit)="enregistrer()" [formGroup]="utilisateurForm"
      class="p-2">

      <div class="row ">
        <div class="col-md-6 mb-3">
          <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" id="nom" formControlName="nom" class="form-control" placeholder="Nom"
              (keydown)="controleForm.allowAlphanumericWithAccents($event)">
            @if (utilisateurForm.get('nom')?.hasError('required') && utilisateurForm.get('nom')?.touched) {
            <strong class="text-danger">Ce champ est obligatoire !</strong>
            }
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="form-group">
            <label for="prenom">Prénom(s)</label>
            <input type="text" id="prenom" formControlName="prenom" class="form-control" placeholder="Prénom"
              (keydown)="controleForm.allowAlphanumericWithAccents($event)">
            @if (utilisateurForm.get('prenom')?.hasError('required') && utilisateurForm.get('prenom')?.touched) {
            <strong class="text-danger">Ce champ est obligatoire !</strong>
            }
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="form-group">
            <label for="username">Nom d'utilisateur</label>
            <input type="text" id="username" formControlName="username" class="form-control" placeholder="Username"
              (keydown)="controleForm.allowAlphanumericWithAccents($event)">
            @if (utilisateurForm.get('username')?.hasError('required') && utilisateurForm.get('username')?.touched) {
            <strong class="text-danger">Ce champ est obligatoire !</strong>
            }
          </div>
        </div>

        <!-- @if (this.modifUser) { -->
        <div class="col-md-6 mb-3">
          <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" id="password" formControlName="password" class="form-control"
              placeholder="Mot de passe">
          </div>
        </div>
        <!-- } -->

        <div class="col-md-6 mb-3">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" formControlName="email" class="form-control" placeholder="Email">
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="form-group">
            <label for="telephone">Téléphone</label>
            <input type="text" id="telephone" formControlName="telephone" class="form-control" placeholder="Téléphone"
              (keydown)="controleForm.allowNumbersOnly($event)">
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <div class="form-group">
            <label for="civilite">Civilité</label>
            <ng-select [items]="civiliteOptions" formControlName="civilite">
            </ng-select>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="form-group">
            <label for="role">Rôle</label>
            <ng-select [items]="roles" bindLabel="libelle" bindValue="id" formControlName="role"
              (change)="onRoleChangeForModal($event)">
            </ng-select>
          </div>
        </div>

        @if (selectedRoleForModal === 'ENTREPRISE_USER' || selectedRoleForModal === 'ENTREPRISE_ADMIN') {
        <div class="col-md-6 mb-3">
          <div class="form-group">
            <label for="societeId">Société</label>
            <ng-select [items]="societes" bindLabel="nom" bindValue="id" formControlName="societeId"></ng-select>
          </div>
        </div>
        }

        @if (selectedRoleForModal === 'CLIENT_COMPTABLE' || selectedRoleForModal === 'CLIENT_ADMIN' ) {
        <div class="col-md-6 mb-3">
          <div class="form-group">
            <label for="clientNumexisId">Client Numexis</label>
            <ng-select [items]="clientsNumexis" bindLabel="nom" bindValue="id"
              formControlName="clientNumexisId"></ng-select>
          </div>
        </div>
        }

        @if (selectedRoleForModal === 'BAILLEUR') {
        <div class="col-md-6 mb-3">
          <div class="form-group">
            <label for="bailleurId">Bailleur</label>
            <ng-select [items]="bailleurs" bindLabel="nom" bindValue="id" formControlName="bailleurId"></ng-select>
          </div>
        </div>
        }

        <div class="col-12">
          <div class="form-check mb-2">
            <input class="form-check-input" type="checkbox" id="enabled" formControlName="enabled">
            <label class="form-check-label" for="enabled">Compte actif</label>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">FERMER</button>
        <button type="submit" [disabled]="utilisateurForm.invalid" class="btn btn-primary"> <span>ENREGISTRER</span> </button>
          <!-- @if (!loading) {
          
          }
          @if (loading) {
          <span>EN COURS <span class="spinner-border"></span></span>
          } -->
      </div>
    </form>
  </div>

</ng-template>