<app-page-title [breadcrumbItems]="pageTitle" title="Catégories"></app-page-title>

@if (!result) {
<div class="loader-container">
  <div class="lds-dual-ring"></div>
</div>
}

@if (result) {
<div class="card">
  <div class="card-body">

    <!-- Boutons et filtres -->
    <div class="mb-3 d-flex flex-wrap align-items-center justify-content-between">
      <!-- Bouton Nouvelle catégorie -->
      <button (click)="openModal()" type="button" class="btn btn-success">
        Nouvelle Catégorie
      </button> 

      <!-- Barre de recherche + filtre -->
      <div class="d-flex gap-2 ms-auto">
        <input #searchInput class="p-2" placeholder="Rechercher par libellé" [(ngModel)]="searchTerm"
          (keyup)="onFilterChange()" (ngModelChange)="onFilterChange()" />

        <ng-select class="mt-1" [items]="types" placeholder="Filtrer par type" bindLabel="libelle" bindValue="id"
          [(ngModel)]="selectedType" (ngModelChange)="onFilterChange()">
          <ng-template ng-notfound-tmp>Aucun type disponible</ng-template>
        </ng-select>
      </div>

    </div>

    <!-- Tableau catégories -->
    <table class="table table-bordered table-striped">
      <thead class="table-custom">
        <tr>
          <th style="width:120px;">
            <h5>Code</h5>
          </th>
          <th>
            <h5>Libellé</h5>
          </th>
          <th>
            <h5>Type</h5>
          </th>
          <th style="width:120px;">
            <h5>Actions</h5>
          </th>
        </tr>
      </thead>

      <!-- Cas ou les données existent -->
      <tbody *ngIf="!isLoading && lignes.length > 0">
        <tr *ngFor="let cat of lignes; let i = index">
          <td>{{ cat.code }}</td>
          <td>{{ cat.libelle }}</td>
          <td>{{ cat.type }}</td>

          <td>
            <span style="color:blue;cursor:pointer" class="fa fa-edit fa-2x me-3" (click)="editCategorie(i)"></span>
            <span style="color:red;cursor:pointer" class="fa fa-trash fa-2x" (click)="deleteCategorie(i)"></span>
          </td>
        </tr>
      </tbody>

      <!-- Cas ou aucune donnée n'existe -->
      <tbody *ngIf="!isLoading && lignes.length === 0">
        <tr>
          <td colspan="4" class="text-center">
            <h5>Aucune donnée trouvée</h5>
          </td>
        </tr>
      </tbody>

      <!-- Loader -->
      <tbody *ngIf="isLoading">
        <tr>
          <td colspan="4" class="text-center">
            <div class="spinner-border text-secondary" role="status">
              <span class="visually-hidden">Chargement...</span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Pagination -->
    <nav aria-label="Pagination">
      <ul class="pagination mt-3">

        <!-- Bouton Précédent -->
        <li class="page-item" [class.disabled]="currentPage === 0">
          <a class="page-link" href="javascript:void(0)" (click)="goToPage(currentPage - 1)"
            [ngStyle]="{'background-color': currentPage === 0 ? '#ccc' : 'transparent'}">Précédent</a>
        </li>

        <!-- Pages dynamiques -->
        <li *ngFor="let page of pages()" class="page-item" [class.active]="page === currentPage">
          <a class="page-link" href="javascript:void(0)"
            [ngStyle]="{'background-color': page === currentPage ? '#37a6de' : 'transparent'}">
            {{ page + 1 }}
            <span *ngIf="page === currentPage" class="visually-hidden" (click)="goToPage(page)">(current)</span>
          </a>
        </li>

        <!-- Bouton Suivant -->
        <li class="page-item" [class.disabled]="currentPage >= totalPages() - 1">
          <a class="page-link" href="javascript:void(0)"
            [ngStyle]="{'background-color': currentPage >= totalPages() - 1 ? '#ccc' : 'transparent'}"
            (click)="goToPage(currentPage + 1)">Suivant</a>
        </li>

      </ul>
    </nav>

  </div>
</div>
}

<!-- MODAL CREATION / MODIFICATION -->
<ng-template #categorieModal>
  <div class="modal-header text-white" style="background-color: #37a6de; padding: 6px 10px;">
    <h4 class="modal-title" style="color: white;">{{ selectedIndex !== null ? 'Modifier Catégorie' : 'Nouvelle
      Catégorie'}}</h4>
    <button type="button" class="btn" style="color:white; font-size:1.4rem;" (click)="closeModal()">
      &times;
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="categorieForm" class="p-2">
      <input type="hidden" formControlName="id">

      <div class="row g-3">
        <div class="col-md-6">
          <label>Libellé</label>
          <input type="text" class="form-control" formControlName="libelle" placeholder="Libellé">
          <div *ngIf="categorieForm.get('libelle')?.hasError('required') && categorieForm.get('libelle')?.touched"
            class="text-danger">Champ obligatoire !</div>
          <div *ngIf="categorieForm.get('libelle')?.hasError('minlength') && categorieForm.get('libelle')?.touched"
            class="text-danger">Minimum 5 caractères !</div>
        </div>

        <div class="col-md-6">
          <label>Type</label>
          <ng-select formControlName="type" [items]="types" bindLabel="libelle" bindValue="id" [clearable]="false"
            placeholder="Sélection type">
            <ng-template ng-notfound-tmp>Aucun type disponible</ng-template>
          </ng-select>
          <div *ngIf="categorieForm.get('type')?.hasError('required') && categorieForm.get('type')?.touched"
            class="text-danger">Champ obligatoire !</div>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">Fermer</button>
    <button type="button" class="btn btn-success" (click)="enregistrer()">Enregistrer</button>
  </div>
</ng-template>