<!-- end page title -->
@if (!result) {
<div class="loader-container">
  <div class="lds-dual-ring"></div>
</div>
}
<!-- start page title -->
@if (result) {
<div class="">
  <div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <h4 class="page-title">Catégorie</h4>
        <div class="page-title-right">
          <div class="mt-2 mt-md-0">
            <button (click)="openScrollableModal(categorieModal)" type="button"
              class="btn btn-success me-1 mb-2 mb-sm-0">
              <i class="uil-plus me-1"></i> CREER UNE CATÉGORIE
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- FORMULAIRE D'AJOUT DE CATÉGORIE -->
  <ng-template #categorieModal let-modal>
    <div class="modal-header" style="background-color: #128C7E;">
      <h4 class="modal-title text-light" id="NewTaskModalLabel">RUBRIQUE</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('')"></button>
    </div>
    <div class="modal-body" style="max-height: 250px;">

      <form (ngSubmit)="onSaveCategorie(categorieForm); modal.close('Close click')" [formGroup]="categorieForm"
        class="p-2">
        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <label for="">Libelle</label>
              <input type="text" id="libelle" name="libelle" formControlName="libelle" class="form-control"
                placeholder="libelle">
              @if (categorieForm.get('libelle')?.hasError('required') && categorieForm.get('libelle')?.touched) {
              <strong class="text-danger"> Ce champ est obligatoire !</strong>
              }
              @if (categorieForm.get('libelle')?.hasError('minlength') && categorieForm.get('libelle')?.touched) {
              <strong class="text-danger"> Minimum 2 caractères !</strong>
              }
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <label for="type">Type</label>

              <ng-select formControlName="type" [items]="types" bindLabel="libelle" bindValue="id"
                placeholder="Sélection type"
                [searchable]="true">
                <ng-template ng-notfound-tmp>
                  Aucun type disponible
                </ng-template>
              </ng-select>

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="modal.dismiss('')">Fermer</button>
          <button type="submit" class="btn btn-secondary">Enregistrer</button>
        </div>
      </form>
    </div>
  </ng-template>

  <!-- LISTE DE CATÉGORIES -->
  <div class="card mb-1">
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
          <h4>Liste des catégories</h4>
          <div class="table-responsive mt-1">
            <table class="table table-hover table-nowrap mb-0">
              <thead>
                <tr>
                  <th style="width: 100px;">Code</th>
                  <th style="width: 250px;">Libellé</th>
                  <th style="width: 200px;">Type</th>
                  <th style="width: 120px;">Actions</th>
                </tr>
              </thead>

              <tbody>
                @for (categorie of categories; track categorie; let i = $index) {
                <tr>
                  <td>{{ categorie.code }}</td>
                  <td>{{ categorie.libelle }}</td>
                  <td>{{ categorie.type }}</td>
                  <td style="width: 50px;">
                    <span style="color:blue;cursor:pointer" class="fa fa-edit fa-2x mr-1 me-3"
                      (click)="openEditModal(categorie, editModal)"></span>
                    <span style="color:red;cursor:pointer" class="fa fa-trash fa-2x mr-1"
                      (click)="deleteCategorie(categorie)"></span>

                    <!-- FORMULAIRE DE MODIFICATION DE CATÉGORIE -->
                    <ng-template #editModal let-modal>
                      <div class="modal-header" style="background-color: #128C7E;">
                        <h4 class="modal-title text-light" id="NewTaskkModalLabel">RUBRIQUE</h4>
                        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('')"></button>
                      </div>
                      <div >
                        <form (ngSubmit)="onUpdateCategorie(categorieUpdateForm);modal.close('Close click')"
                          [formGroup]="categorieUpdateForm" class="p-2">
                          <div class="row">
                              <input type="hidden" formControlName="id" id="id" class="form-control"
                                  [value]="categorieUpdateForm.get('id')?.value">

                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="">Libellé</label>
                                <input type="text" id="libelle" name="libelle" formControlName="libelle"
                                  class="form-control" placeholder="libelle">
                                @if (categorieForm.get('libelle')?.hasError('required') &&
                                categorieForm.get('libelle')?.touched) {
                                <strong class="text-danger"> Ce champ est obligatoire !</strong>
                                }
                                @if (categorieForm.get('libelle')?.hasError('minlength') &&
                                categorieForm.get('libelle')?.touched) {
                                <strong class="text-danger"> Minimum 5 caractères !</strong>
                                }
                              </div>
                            </div>

                            <div class="col-md-6" style="height: 160px;">
                              <div class="form-group">
                                <label for="type"> Type</label>
                                <!--Ng-select ajoutés partout sur le projet par Victorin-->
                                <ng-select formControlName="type" [items]="types" bindLabel="libelle" bindValue="id"
                                  placeholder="Sélection type" [searchable]="true" >
                                  <ng-template ng-notfound-tmp>
                                    Aucun type disponible
                                  </ng-template>
                                </ng-select>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-danger" (click)="modal.dismiss('')">Fermer</button>
                            <button type="submit" class="btn btn-primary">Modifier</button>
                          </div>
                        </form>
                      </div>
                    </ng-template>
                  </td>
                </tr>
                }
                @if (categories?.length == 0) {
                <tr>
                  <td colspan="4">
                    <h3 style="text-align: center;">Aucune catégorie trouvée</h3>
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
}