<!-- end page title -->
<app-page-title [breadcrumbItems]="pageTitle" title="Salaires"></app-page-title>

<div class="loader-container" *ngIf="!result">
  <div class="lds-dual-ring"></div>
</div>
<!-- start page title -->
<div class="mt-2 card" *ngIf="result">
  <div class="card-body">
    
    <form [formGroup]="operationForm">
      <!-- Toolbar responsive -->
      <div *ngIf="isComptable" class="toolbar d-flex flex-wrap gap-2 mb-3">
        <button type="button" class="btn btn-success" (click)="ajouter()">Nouveau</button>
        <button type="button" class="btn btn-success" (click)="modifier()" [disabled]="selectedIndex === null">Modifier</button>
        <button type="button" class="btn btn-danger" (click)="supprimer()" [disabled]="selectedIndex === null">Supprimer</button>
        <button type="button" class="btn btn-success" (click)="enregistrer()" [disabled]="!formVisible">Enregistrer</button>
        <button type="button" class="btn btn-success" (click)="fermer()" [disabled]="!formVisible">Fermer</button>
        <button type="button" class="btn btn-success" >Importer</button>
      </div>
    
      <!-- Modal -->
      
    
      <div class="container-fluid">
        <!-- Formulaire principal -->
        <div class="row mb-3" *ngIf="formVisible">
          <div class="row" >
          <div class="col-12 col-md-3 mb-2">
            <div class="form-group">
              <label for="">Nature</label>
              <select2
                name="natureOperationId"
                [data]="natureOperations"
                placeholder="Select Nature Opération"
                formControlName="natureOperationId"
                id="natureOperationId"
                style="width: 100%;"
              ></select2>
              <strong class="text-danger" *ngIf="operationForm.get('natureOperationId').hasError('required') && operationForm.get('natureOperationId').touched">
                Champ obligatoire !
              </strong>
            </div>
          </div>
      
          <div class="col-12 col-md-2 mb-2">
            <div class="form-group">
              <label for="">Montant</label>
            <input type="text" id="montant" name="montant" formControlName="montant" class="form-control" placeholder="montant">
            <strong class="text-danger" *ngIf="operationForm.get('montant').hasError('required') && operationForm.get('montant').touched">
              Champ obligatoire !
            </strong>
            </div>
          </div>

          <div class="col-12 col-md-3 mb-2">
          <div class="form-group">
            <label for="">Tiers</label>
            <select2
              name="tiersId"
              [data]="tiers"
              placeholder="Select Tiers"
              formControlName="tiersId"
              id="tiersId"
              style="width: 100%;"
            ></select2>
            <strong class="text-danger" *ngIf="operationForm.get('tiersId').hasError('required') && operationForm.get('tiersId').touched">
              Champ obligatoire !
            </strong>
          </div>
          </div>
      
          <div class="col-12 col-md-2 mb-2">
            <div class="form-group">
              <label for="">Details</label>
            <input type="text" id="details" name="details" formControlName="details" class="form-control" placeholder="">
            <strong class="text-danger" *ngIf="operationForm.get('details').hasError('required') && operationForm.get('details').touched">
              Champ obligatoire !
            </strong>
            </div>
          </div>
      
          <div class="col-md-2">
            <div class="form-group">
              <label for="">Date</label>
              <input type="date" id="dateOperation" name="dateOperation" formControlName="dateOperation" class="form-control" placeholder="">
              <strong class="text-danger" *ngIf="operationForm.get('dateOperation').hasError('required') && operationForm.get('dateOperation').touched">
                Champ obligatoire !
              </strong>
              </div>
             </div>
          </div>
        
         </div>
      </div>
      
    </form>

      <div class="table-container">
        <table class="table table-bordered table-sm custom-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Nature</th>
          <th>Montant</th>
          <th>Tiers</th>
        </tr>
      </thead>
      <tbody *ngIf="!isLoading">
        <tr  *ngFor="let operation of operations; let i = index"
        (click)="selectLigne(i)"
        [class.selected]="i === selectedIndex">
          <td>{{ operation.value.dateOperation |date}}</td>
          <td>{{ operation.value.natureOperationLibelle }}</td>
          <td>{{ operation.value.montant }}</td>
          <td>{{ operation.value.tiers }}</td>
          
        </tr>
        <tr *ngIf="operations?.length == 0" >
            <td  colspan="5"><h3 style="text-align: center;">Aucune donnée trouvée</h3></td>
          </tr>
      </tbody>
      <tbody *ngIf="isLoading">
        <tr>
          <td colspan="5" class="text-center">
            <div class="spinner-border text-secondary" role="status">
              <span class="visually-hidden">Chargement...</span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
 
    </div>
  </div>
